<%- include('./Partials/chore.ejs') -%>  
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  *,*::before,*::after
  {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .heading {
    color: white;
  }
  .template-heading
  {
    background-color:rgb(3, 207, 88);
    text-align:center;
    text-shadow: 1px 1px red;
    font-size:5em;
    margin-bottom: 0;
    padding:25px 0;
  }
 
  #editor_text
  {
    background-color: rgb(4, 168, 72);
    padding:0 100px;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    color:#fff;
    margin-bottom: 0;
    padding:25px 15px;
  }
  #editor_text img
  {
    display:block;
    margin:0 auto;
  }
  #editor_text video
  {
    display: block;
    margin: 0 auto;
    }
    .template-links
    {
      background-color:  rgb(6, 122, 54);
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      margin-top:0px;
      margin-bottom: 0px;

      padding: 25px 0;
    }
    .template-links a
    {
      display: inline-block;
      width:150px;
      margin:0 auto;
    }
  .template-summary
  {
    background-color:rgb(0, 94, 39);
    margin:0;
  }
  .template-note
  {
    background-color:rgb(4, 78, 35);
    font-size:1.4rem;
    margin: 0;
    padding:25px 50px;
    color:#fff;
  }
  .template-footer
  {
    background-color: rgb(2, 51, 22);
    padding:15px 0;
  }
  .template-video
  {
    width: 50vw;
    height:100vh;
    display: block;
    margin:0 auto;
  }
</style>
<div class="container">
 
  <!-- Role=model brings out focus to this on click of above button, fade is just for transition, role="dialog" for screen readers only -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-head  er">
          <h2 class="text-center"> Ask your query here</h2>
        </div>
        <div class="modal-body">
          <form method="post" action="/query">
            <label for="name" class="mt-2">Name</label>
            <input
              class="form-control"
              name="name"
              placeholder="Enter your name"
            />
            <label for="email" class="mt-2">Email</label>
            <input
              class="form-control"
              name="email"
              placeholder="Enter your mail"
            />
            <label for="query" class="mt-2">Query</label>
            <textarea
              name="query"
              class="form-control"
              placeholder="Enter your query"
              rows="5"
              cols="50"
            >
            </textarea>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="template">
  <h1 class="display-2 template-heading text-center"><%=lecture_title%></h1>
  <div id="editor_text"></div>
  <div class="template-links">
  <% var link = "" %>
  <% var name = "" %>
  <% var k=0 %>
  <% for(var i=0;i<src.length;i++) {%>
    <% link = link + src[i] %>
     <% if(src[i]===',' || i===src.length-1) {%>
       <% if(link[link.length-1]===',') { %>
        <% link = link.slice(0, -1); %>
       <%}%>
       <% k++ %>
       <% name = "link-" + k %>
       <a href="<%= link %>" class="btn btn-primary btn-small"><%= name %></a>
       <% name = "" %>
       <% link="" %>  
     <% } %>
  <% } %>
 
</div>
  <p class="template-summary"><%=reso%></p>
  <p class="template-note text-capitalize"><%=note%></p>
</div>
<div class="text-center template-footer">
<button type="button" class="btn btn-primary btn-lg doubt-button" data-toggle="modal" data-target="#myModal">Ask your doubt here</button>
<a class="btn btn-lg btn-primary" href="https://go.echoar.xyz/wT9J">Experience it</a> 
</div>
<script>
  window.onload = function () {
    var lecture_para_content = "<%- lecture_para %>"
    var display_editor = document.getElementById("editor_text");
    display_editor.innerHTML = lecture_para_content;
  };
</script>
</body>
</html>